*{
    background-image: url('Image/janko-ferlic-sfL_QOnmy00-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
}

h1{
margin-left: 63%;
font-size: 50px;
margin-top: 4%;
}

h2{
font-size: 60px;
margin-top: -6%;
}

input{
width: 150px;
padding: 7px;
}

title{
    font-size: 0px;
}

button{
    padding: 6px;
    font-size: 20px;
}

img{
    width: 180px;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(212,185150,.5);
    margin-right: 170px;
    margin-bottom: 20px;
    margin-top: 80px;
    margin-left: 10px;
}