*{
    background-image: url('Image/people-playing-paper-rock-scissors-royalty-free-illustration-1583269312.jpg');
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-align: center;
    margin: 20px;
    border: 20px;
    margin-right: 5%;
    color: rgb(27, 11, 73);
    font-size: 70px;
    text-shadow: -2px -2px 0 #52e8ea;
}
h2{

}
#myH2{
    color: rgb(255, 2, 2);
    font-size: 85px;
    text-shadow: -2px -2px 0 #65efea;
}
label{
    color: rgb(27, 11, 73);
    font-size: 40px;
    text-shadow: -2px -2px 0 #52e8ea;
}
#submit{
    text-align: center;
    padding: 8px 18px;
    font-size: 20px;
    text-align: center;
    color: rgb(27, 11, 73);
    border-radius: 20px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -2px -2px 0 #1f9698;
}

#rock{
    margin-left: 15%;
    padding: 48px 68px;
    font-size: 50px;
    text-align: center;
    color: rgb(247, 0, 0);
    border-radius: 20px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -2px -2px 0 #000000
}
#paper{
    margin-left: 5%;
    padding: 48px 68px;
    font-size: 50px;
    text-align: center;
    color: rgb(247, 0, 0);
    border-radius: 20px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -2px -2px 0 #000000
}
#scissors{
    margin-top: 2%;
    margin-left: 5%;
    padding: 48px 68px;
    font-size: 50px;
    text-align: center;
    color: rgb(247, 0, 0);
    border-radius: 20px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -2px -2px 0 #000000
}
#myH2{
    margin-left: 50%;
    margin-top: -5%;
}
#computer-choice{
    margin-top: -5%;
    color: rgb(27, 11, 73);
    font-size: 40px;
    text-shadow: -2px -2px 0 #1f9698;
}
#player-choice{
    color: rgb(27, 11, 73);
    font-size: 40px;
    text-shadow: -2px -2px 0 #1f9698;
}
#result{
    text-align: center;
    margin: 20px;
    border: 20px;
    margin-left: 50%;
    color: rgb(255, 2, 2);
    font-size: 80px;
    text-shadow: -2px -2px 0 #1f9698;
}
.reset{
    margin-left: 43%;
    margin-top: 5%;
    padding: 18px 28px;
    font-size: 30px;
    text-align: center;
    color: rgb(27, 11, 73);
    text-shadow: -2px -2px 0 #1f9698;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}